.box1{
    background-color: aqua;
    width: 250px;
    padding: 20px;
}
.box1{
    background-color: aqua;
    width: 250px;
    padding: 20px;
}
.box1{
    background-color: aqua;
    width: 250px;
    padding: 20px;
}